textarea {
    resize: none;
}

main {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;


    background-color: #F2ECD8;
    border-radius: 20px;

    box-shadow: 10px 10px 10px rgb(0, 0, 0, 0.1);

    width: 80vw;
}

#main {
    display: grid;

    margin-bottom: 50px;
    
    

    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 50px;
    
    align-items: center;
    justify-items: center;
}

#formulario {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    min-width: 90%;
}

h2 {
    font-family: Helvetica;
    font-size: 30px;
    margin-bottom: 20px;
    color: #A63369;
}

form {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr 0.5fr;
}

.form-group {
    display: flex;
    flex-direction: column;
}

#grupo-msg {
    grid-column-start: 1;
    grid-column-end: 3; 
}

label {
    font-family: Helvetica;
    margin-bottom: 10px;
    font-size: 18px;
    color: #33242E;
}

input, textarea {
    font-family: Helvetica;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #BF7960;
    border-radius: 5px;
    font-size: 16px;
    width: 90%;
    height: 100%;
}

#grupo-msg textarea {
    width: 95%;
}

#bot {
    grid-column-start: 2 ;
    width: 95%;
    display: flex;
    justify-content: right;
}

button {
    font-family: Helvetica;
    padding: 15px;
    background-color: #A63369;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    width: 75%;
}

button:hover {
    background-color: #BF7960;
}

@media screen and (max-width: 1000px) {
    h2 {
        text-align: center;
    }

    form {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 3fr 0.5fr;
    }

    #grupo-msg {
        grid-column-start: 1;
        grid-column-end: 2; 
        width: 95%;
    }

    #bot {
        grid-column-start: 1 ;
        width: 95%;
        display: flex;
        justify-content: center;
    }
    
}